pymongo[srv]
pymongo
python-dotenv
pandas
langchain[openai]
pydantic
motor
redis
chromadb
sentence-transformers
pwdlib[argon2]
fastapi[standard]
jinja2
pyjwt
pdfplumber
pypdf
pytesseract
pillow
pdf2image